<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>{{ text }}</h1>

<ul>
{% for g in goods %}
  <li>{{ g.name }} {{ g.price }} {{ g.description }}</li>
{% endfor %}
</ul>

</body>
</html>